* {
	box-sizing: border-box;
}

.reveal-overlay {
	background-color: rgba(0, 0, 0, 0.75);
}

.revealStyle {
	background-color: rgb(155, 155, 155);
	font-family: 'Grenze Gotisch', cursive;
	border-radius: 10px;
	box-shadow: 0 0 0 0.2rem rgba(100, 100, 100, 0.5);
}

.revealStyle h1 {
	font-family: 'Grenze Gotisch', cursive;
}

.lead {
	font-size: 140% !important;
}

.button {
	border-radius: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}

/* #Modal2 button {
	margin-bottom: 0px;
	margin-left: 5px;
} */

#nameTitle {
	font-size: 1.8rem;
	font-family: 'Grenze Gotisch', cursive;
}

#nameResultCell {
	padding-left: 0px;
	padding-top: 3px;
}

#nameResult {
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	font-family: 'Grenze Gotisch', cursive;
}
